  <footer class="text-center text-lg-start mt-5">
    <div class ="container d-flex justify-content-center py-4">
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2">
            <i class="fab fa-facebook fa-3x" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2">
            <i class="fab fa-twitter fa-3x" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2">
            <i class="fab fa-linkedin fa-3x" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2">
            <i class="fab fa-instagram fa-3x" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2">
                <i class="fab fa-youtube fa-3x" aria-hidden="true"></i>
        </button>
        <button>
            <a href="https://www.unicauca.edu.co/" class="text-white">Visita nuestra página web</a>
        </button>
    </div>
    <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2024 Copyright:
        <a class="text-white" href="https://www.unicauca.edu.co/">Universidad del Cauca</a>
      </div>
      <!-- Copyright -->
    

  </footer>
