<header class="header">
    <div class="container-header">
        <img src="imgs/logo.png" width=100 height=auto alt="Logo de la Clínica Piedra Azul" class="img-fluid">
        <h1>Clínica Piedra Azul</h1>
        <p>Atención médica integral en el corazón de la ciudad.
            Agenda tu cita hoy y experimenta un cuidado de calidad
            con nuestro equipo de profesionales dedicados a tu bienestar.
        </p>
        <div class="social-icons">
            <a href="" target="_blank" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
            <a href="" target="_blank" title="GitHub"><i class="fab fa-github"></i></a>
            <a href="" title="Email"><i class="fas fa-envelope"></i></a>
        </div>
    </div>
    </header>

